{% extends "base.html" %}

{% block title %}Todo List{% endblock title %}

{% block body %}
<h2>Todo-List</h2>
<h4>Total tasks = {{total_task}}</h4>
<h4>Complete tasks = {{complete_task}}</h4>
<h4>Incomplete tasks = {{incomplete_task}}</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for i in tasks %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ i.title }}</td>
      <td>{{ i.description }}</td>
      <td>
          {% if i.status %}
          <span class="text-success">
            Completed
          </span>
          {% else %}
          <span class="text-danger">
            Pending
          </span>
          {% endif %}
</td>
  <td>
      <a href="{{i.id}}/edit/" type="button" class="btn btn-primary">Edit</button>
      <a href="{{i.id}}" type="button" class="btn btn-success">Mark</button>
      <a href="{{i.id}}/delete/" type="button" class="btn btn-danger">Delete</button>
  </td>
</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
